---
layout: layouts/page.njk
pagination:
   data: authorMeta
   size: 1
   alias: author
permalink: "/authors/{{author.key}}/"
hideAuthor: true
eleventyComputed:
   title: "Posts by {{author.full_name}}"
---

{% if author.website %}
<p>
Website: <a href="{{author.website}}" target="_new">{{author.website}}</a><br/>
</p>
{% endif %}

<img src="{{author.photo}}" width="24" height="24" alt="">

<p>
{{author.bio}}
</p>

<br clear="left" />

<h2>Posts by Author</h2>

{% set postList = collections.blog | getPostsByAuthor(author.key) | reverse %}
{% include "post-list.njk" %}
