---
layout: layouts/base.njk
date: 2022-10-01
teaseCount: 5
---
<h1>{{ metadata.title }}</h1>
<p>{{ metadata.description }}</p>

<h2>Posts by Year</h2>

{% include "yearly-chart.njk" %}

<h2>Posts by Author</h2>

{% include "author-list.njk" %}

<h2>Most Used Tags</h2>

<ol>
{% for tag, posts in collections.postsByTag %}
  {% if posts.length > 25 %}
    {% include "tag-list-item.njk" %}
  {% endif %}
{% endfor %}
</ol>

<p>
  More tags can be found on the <a href="/tags/">tags page</a>.
</p>
