---
permalink: /tags/
layout: layouts/page.njk
title: Tags
date: 2022-10-04
tags:
  - nav
---

<ol class="post-list">
{% for tag, posts in collections.postsByTag %}
  {% include "tag-list-item.njk" %}
{% endfor %}
</ol>
